<html ng-app="marvelApiApp">
<head>
	<title>Angular/Semantic UI Project</title>
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <link rel="stylesheet" type="text/css" href="dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="dist/components/site.css">

    <link rel="stylesheet" type="text/css" href="dist/components/container.css">
    <link rel="stylesheet" type="text/css" href="dist/components/grid.css">
    <link rel="stylesheet" type="text/css" href="dist/components/header.css">
    <link rel="stylesheet" type="text/css" href="dist/components/image.css">
    <link rel="stylesheet" type="text/css" href="dist/components/menu.css">

    <link rel="stylesheet" type="text/css" href="dist/components/divider.css">
    <link rel="stylesheet" type="text/css" href="dist/components/dropdown.css">
    <link rel="stylesheet" type="text/css" href="dist/components/segment.css">
    <link rel="stylesheet" type="text/css" href="dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="dist/components/list.css">
    <link rel="stylesheet" type="text/css" href="dist/components/icon.css">
    <link rel="stylesheet" type="text/css" href="dist/components/sidebar.css">
    <link rel="stylesheet" type="text/css" href="dist/components/transition.css">

    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-controller="MainCtrl as $ctrl" class="pushable">

<!-- Fixed Nav Bar -->
<div class="ui fixed inverted menu">
    <div class="ui container">
        <img class="logo" src="marvel.svg">

        <a href="#" class="item home">Home</a>
        <div class="ui simple dropdown item">
            Dropdown <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="#">Link Item</a>
                <a class="item" href="#">Link Item</a>
                <div class="divider"></div>
                <div class="header">Header Item</div>
                <div class="item">
                    <i class="dropdown icon"></i>
                    Sub Menu
                    <div class="menu">
                        <a class="item" href="#">Link Item</a>
                        <a class="item" href="#">Link Item</a>
                    </div>
                </div>
                <a class="item" href="#">Link Item</a>
            </div>
        </div>
    </div>
</div>


<!-- Page Contents -->
<div class="pusher">

    <!-- Hero Banner -->
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 class="ui inverted header">Marvel Comic Finder</h1>
            <h2>Find all your favourite Marvel Superheroes and comics here!</h2>

            <div class="ui huge form">
                <div class="field">
                    <input type="text" ng-model="searchValue" ng-keyup="typeAhead(searchValue)" placeholder="e.g. Spider-man, X-men or Wolverine">
                </div>
                
                <div class="ui middle aligned selection list">
                    <div class="item" ng-if="showHeroList" 
                        ng-hide="heroesListResult.length > 0">
                        <div class="content">
                            Searching....
                        </div>
                    </div>
                    <div class="item" ng-repeat="heroesList in heroesListResult" ng-click="selectHero(heroesList)">
                        <img class="ui avatar image" ng-src="{{heroesList.thumbnail.path + '.' + heroesList.thumbnail.extension}}">
                        <div class="content">
                            <div class="header">{{heroesList.name}}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="heroImage" ng-style="{'background-image':'url('+thisComic +')'}"></div>
    </div>

    <!-- This Week Comics -->    
    <comic-list date-api="$ctrl.getThisWeekApi" view="$ctrl.view" on-view-change="$ctrl.view = $event.view"></comic-list>

    <!-- Last Week Comics -->
    <comic-list date-api="$ctrl.getLastWeekApi" view="$ctrl.view" on-view-change="$ctrl.view = $event.view"></comic-list>

    <!-- This Month Comics -->
    <comic-list date-api="$ctrl.getThisMonthApi" view="$ctrl.view" on-view-change="$ctrl.view = $event.view"></comic-list>

    <!-- Footer -->
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">About</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">A</a>
                        <a href="#" class="item">B</a>
                        <a href="#" class="item">C</a>
                        <a href="#" class="item">D</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Services</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">A</a>
                        <a href="#" class="item">B</a>
                        <a href="#" class="item">C</a>
                        <a href="#" class="item">D</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Marvel Comic Finder</h4>
                    <p>A pet project using Semantic UI, Angular 1.6.6 and Marvel's Comic API.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <modal view="$ctrl.view"></modal>

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="md5.js"></script>

<script type="text/javascript" src="script.js"></script>
<script type="text/javascript" src="components/comic-list/comic-list.js"></script>
<script type="text/javascript" src="components/modal/modal.js"></script>

<script src="dist/semantic.js"></script>
<script src="dist/components/visibility.js"></script>
<script src="dist/components/sidebar.js"></script>
<script src="dist/components/transition.js"></script>
<script>
$(document).ready(function() {
    // lazy load images
    $('.image').visibility({
        type: 'image',
        transition: 'vertical flip in',
        duration: 500
    });
});
</script>


</body>
</html>